/* CSS Document */
/*
body {background-color: aquamarine}*/
body, html {
    background-color: #dceaec;
  }

/*
.talk-man {
  width: 25%;
  height: 25%;
  z-index: 2;
  margin-top: -11200px;
}*/

.logo-img {
  width: 150px;
  height: auto;
}


.main-img {
  position: relative; /* Обязательно установите position: relative на родителя main-img */
  z-index: 1; /* Устанавливаем значение z-index, чтобы main-img был под talk-man */
}

h1 {
  font-size: 7vw;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.span1 {
padding-left: 13rem;
}

.span2 {
padding-right: 13rem;
}

/* TALKS 
.talk-man {
  position: absolute;
  top: 62%;
  left: 25%;
  z-index: 2; 
  width: 28%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: aqua;
}

.talk:hover .talk-man {
  opacity: 1;
}

.talk-woman {
  position: absolute;
  top: 90%;
  left: 33%;
  z-index: 2; 
  width: 40%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: rgb(101, 255, 255);
}

.talk-girl1 {
  position: absolute;
  top: 215%;
  left: 20%;
  z-index: 2; 
  width: 45%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: rgb(101, 255, 255);
}

.talk-girl2 {
  position: absolute;
  top: 225%;
  left: 35%;
  z-index: 2; 
  width: 35%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: rgb(244, 200, 242);
}*/

.box-img {
  position: relative;
  width: 100%;
}

.main-img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  width: 400px;
  height: 200px;
  background-image: url('../images/talks-man.png'); /* Путь к вашему фоновому изображению */
  background-size: cover; /* или другие значения, такие как contain */
  background-position: center center; /* или другие значения */
  background-repeat: no-repeat;
  opacity: 1; /* Прозрачность фонового изображения (от 0 до 1) */
  background-color: blueviolet;
  top: 30%;
}