/* CSS Document */
/*
body {background-color: aquamarine}*/
body, html {
    background-color: #dceaec;
  }

/*
.talk-man {
  width: 25%;
  height: 25%;
  z-index: 2;
  margin-top: -11200px;
}*/

.logo-img {
  width: 150px;
  height: auto;
}



h1 {
  font-size: 7vw;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.span1 {
padding-left: 13rem;
}

.span2 {
padding-right: 13rem;
}

/* TALKS 
.talk-man {
  position: absolute;
  top: 62%;
  left: 25%;
  z-index: 2; 
  width: 28%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: aqua;
}

.talk:hover .talk-man {
  opacity: 1;
}

.talk-woman {
  position: absolute;
  top: 90%;
  left: 33%;
  z-index: 2; 
  width: 40%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: rgb(101, 255, 255);
}

.talk-girl1 {
  position: absolute;
  top: 215%;
  left: 20%;
  z-index: 2; 
  width: 45%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: rgb(101, 255, 255);
}

.talk-girl2 {
  position: absolute;
  top: 225%;
  left: 35%;
  z-index: 2; 
  width: 35%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: rgb(244, 200, 242);
}*/

.box-talk {
  position: relative;
  width: 100%;
  z-index: 2;
  background-color: rgb(35, 135, 45);
}

.main-img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}
/* 
.overlay {
  position: absolute;
  width: 430px;
  height: 230px;
  background-image: url('../images/talks-man.png'); 
  background-size: cover; 
  background-position: 150px left; 
  background-repeat: no-repeat;
  opacity: 1; 
  z-index: 1;
  background-color: blueviolet;
  top: 100%;
}*/

.box {
  background-color: blue;
  width: 100%;
  height: auto;
  display: block;
}



.talk-couple {
  background-color: rgb(128, 92, 92);
  z-index: 3;
  width: 100%;
  height: 390px;
  position: absolute;
  top: 3%;
  opacity: 0.5;
}

.talks-man {
  position: absolute;
  top: 4%; /* Размещаем сверху посередине */
  left: 35%; /* Размещаем посередине горизонтально */
  width: 400px; /* Задаем ширину */
  height: 200px; /* Задаем высоту */
  z-index: 3; /* Помещаем вторую картинку над первой */

}

.talks-woman {
  position: absolute;
  top: 28%; /* Размещаем сверху посередине */
  left: 55%; /* Размещаем посередине горизонтально */
  width: 230px; /* Задаем ширину */
  height: 120px; /* Задаем высоту */
  z-index: 3; /* Помещаем вторую картинку над первой */
}

.talk-girls {
  background-color: rgb(197, 215, 159);
  z-index: 3;
  width: 100%;
  height: 390px;
  position: absolute;
  top: 20%;
  opacity: 0.5;
}

.talk-girls:hover {
  display: block;
  opacity: 0.7;
}

.talks-girl1 {
  position: absolute;
  top: 23%; /* Размещаем сверху посередине */
  left: 50%; /* Размещаем посередине горизонтально */
  width: 400px; /* Задаем ширину */
  height: 200px; /* Задаем высоту */
  z-index: 3; /* Помещаем вторую картинку над первой */
}

.talks-girl2 {
  position: absolute;
  top: 39%; /*азмещаем сверху посередине */
  left: 33%; /* Размещаем посередине горизонтально */
  width: 280px; /* Задаем ширину */
  height: 130px; /* Задаем высоту */
  z-index: 3; /* Помещаем вторую картинку над первой */
}

.talk-friends {
  background-color: rgb(139, 221, 242);
  z-index: 3;
  width: 100%;
  height: 590px;
  position: absolute;
  top: 40%;
  opacity: 0.5;
}

.talk-girls:hover {
  display: block;
  opacity: 0.7;
}

.talks-dog {
  position: absolute;
  top: 57%; /* Размещаем сверху посередине */
  left: 55%; /* Размещаем посередине горизонтально */
  width: 350px; /* Задаем ширину */
  height: 180px; /* Задаем высоту */
  z-index: 3; /* Помещаем вторую картинку над первой */
}

.talks-student {
  position: absolute;
  top: 10%; /*азмещаем сверху посередине */
  left: 37%; /* Размещаем посередине горизонтально */
  width: 300px; /* Задаем ширину */
  height: 150px; /* Задаем высоту */
  z-index: 3; /* Помещаем вторую картинку над первой */
}
