/* CSS Document */
/*
body {background-color: aquamarine}*/
body, html {
    background-color: #dceaec;
  }

/*
.talk-man {
  width: 25%;
  height: 25%;
  z-index: 2;
  margin-top: -11200px;
}*/

.logo-img {
  width: 150px;
  height: auto;
}

.talk-man {
  position: absolute;
  top: 62%;
  left: 25%;
  z-index: 2; /* Устанавливаем значение z-index, чтобы talk-man был поверх main-img */
  width: 28%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: aqua;
}

.talk:hover .talk-man {
  opacity: 1;
}

.main-img {
  position: relative; /* Обязательно установите position: relative на родителя main-img */
  z-index: 1; /* Устанавливаем значение z-index, чтобы main-img был под talk-man */
}

h1 {
  font-size: 7vw;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.span1 {
padding-left: 13rem;
}

.span2 {
padding-right: 13rem;
}